{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-frame-asset container-color">
    <div class="container-color container-mir">
        <div class="container-child-color my-border asset-top">
            <div class="conTitle">Asset Report</div>
        </div>
        <div class="container-child-color my-border asset-bottom">
            <div class="assetText">
                <div class="asset-search">
                    <a href="#"><i class="xi-search"></i>Search</a>
                </div>
                <!--                    <div class="asset-select">
                                        <span>Records:</span>
                                        <select name="records" class="asset-records">
                                            <option value="10" selected="selected">10</option>
                                            <option value="20" selected="selected">20</option>
                                            <option value="30" selected="selected">30</option>
                                        </select>
                                    </div>-->
            </div>
            <div class="assetList">
                <table id="assetTable" class="assetTable">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Computer ID</th>
                        <th>Host Name</th>
                        <th>OS (Version)</th>
                        <th>IP Address</th>
                        <th>Asset Type</th>
                        <th>Timestamp</th>
                        <th>진단 항목</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>168177417</td>
                        <td>Mj kim</td>
                        <td>Windows (10.0.19044)</td>
                        <td>192.168.0.3</td>
                        <td>Notebook</td>
                        <td>2022-08-02 14:00:00</td>
                        <td><span>확인</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>168177417</td>
                        <td>Mj kim</td>
                        <td>Windows (10.0.19044)</td>
                        <td>192.168.0.3</td>
                        <td>Notebook</td>
                        <td>2022-08-02 14:00:00</td>
                        <td><span>확인</span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>168177417</td>
                        <td>Mj kim</td>
                        <td>Windows (10.0.19044)</td>
                        <td>192.168.0.3</td>
                        <td>Notebook</td>
                        <td>2022-08-02 14:00:00</td>
                        <td><span>확인</span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>168177417</td>
                        <td>Mj kim</td>
                        <td>Windows (10.0.19044)</td>
                        <td>192.168.0.3</td>
                        <td>Notebook</td>
                        <td>2022-08-02 14:00:00</td>
                        <td><span>확인</span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>168177417</td>
                        <td>Mj kim</td>
                        <td>Windows (10.0.19044)</td>
                        <td>192.168.0.3</td>
                        <td>Notebook</td>
                        <td>2022-08-02 14:00:00</td>
                        <td><span>확인</span></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>168177417</td>
                        <td>Mj kim</td>
                        <td>Windows (10.0.19044)</td>
                        <td>192.168.0.3</td>
                        <td>Notebook</td>
                        <td>2022-08-02 14:00:00</td>
                        <td><span>확인</span></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>168177417</td>
                        <td>Mj kim</td>
                        <td>Windows (10.0.19044)</td>
                        <td>192.168.0.3</td>
                        <td>Notebook</td>
                        <td>2022-08-02 14:00:00</td>
                        <td><span>확인</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- asset jquery -->
<script src="{% static 'js/common/asset.js' %}"></script>
{% endblock %}