{% extends 'base.html' %}
{% block content %}
    <div class="my-3">
        <div class="container-color container-top">
            <div class="container-section-color container-left my-float-left">
                <div class="container-child-color container-left-child-no-margin"></div>
                <div class="container-child-color container-left-child"></div>
                <div class="container-child-color container-left-child"></div>
                <div class="container-child-color container-left-child"></div>
            </div>
            <div class="container-section-color container-center my-float-left">
                <div class="container-child-color container-center-top"></div>
                <div class="container-child-color container-center-bot"></div>
            </div>
            <div class="container-section-color container-right my-float-left">
                <div class="container-child-color container-right-top"></div>
                <div class="container-child-color container-right-bot"></div>
            </div>
        </div>
        <div class="container-color container-bot">
            <button class="container-bot-side my-float-left my-btn"></button>
            <div class="my-float-left container-bot-content"></div>
            <div class="my-float-left container-bot-content"></div>
            <div class="my-float-left container-bot-content"></div>
            <div class="my-float-left container-bot-content"></div>
            <div class="my-float-left container-bot-content"></div>
            <div class="my-float-left container-bot-content"></div>
            <div class="my-float-left container-bot-content"></div>
            <div class="my-float-left container-bot-content2"></div>
            <button class="my-float-left my-btn"></button>
        </div>
    </div>
{% endblock %}