{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container-frame container-color">
    <div class="container-color container-mid">
        <div class="container-section-color container-left my-float-left">
            <div class="container-child-color container-left-top my-border">
                <div class="content-title">
                    <a class="my-float-left"><img src="{% static 'img/dashboard/barchart.png' %}"/></a>
                    <div class="conText">Asset Count By Item</div>
                </div>
                <div id="barChart"></div>
            </div>
            <div class="container-child-color container-left-bot my-border">
                <div class="content-title">
					<a class="my-float-left"><img src="{% static 'img/dashboard/linechart.png' %}"/></a>
                    <div class="conText">Asset By Day Item Count</div>
                </div>
                <div id="lineChart"></div>
            </div>
			<div class="container-child-color container-left-top my-border my-margin-top">
                <div class="content-title">
					<a class="my-float-left"><img src="{% static 'img/dashboard/pie.png' %}"/></a>
					<div class="conText">OS Count By Item(Top3)</div>
				</div>
				<div id="pieChart"></div>
            </div>
        </div>
        <div class="container-child-color container-center my-float-left my-border">
			<div class="mapLeft">
				<div class="mapChartMenuWorld">
					<div class="mapChartMenuWrap">
						<button type="button" class="btn btn-secondary btnWorld">World</button>
						<button type="button" class="btn btn-secondary btnKorea">Korea</button>
						<a class="expansionWrap mouse-over-cursor" id="popBtWorld">
							<img class="expansion" src="{% static 'img/dashboard/expansion.png' %}" />
						</a>
						<div class="shadow"></div>
						<div id="popWorld" style="display: none;">
							<a id="closeWorld" class="popClose mouse-over-cursor">
								<img class="imgCloseGray" src="{% static 'img/common/close.png' %}" width="10px" height="10px">
							</a>
							<div class="popMap">세계맵팝업
							</div>
						</div>
					</div>
				</div>
				<div class="container-child-color my-float-left world-map">
					<div id="worldMap"></div>
				</div>
				<div class="mapChartMenuKorea">
					<div class="mapChartMenuWrap">
						<button type="button" class="btn btn-secondary btnWorld">World</button>
						<button type="button" class="btn btn-secondary btnKorea">Korea</button>
						<a class="expansionWrap mouse-over-cursor" id="popBtKorea">
							<img class="expansion" src="{% static 'img/dashboard/expansion.png' %}" />
						</a>
						<div class="shadow"></div>
						<div id="popKorea" style="display: none;">
							<a id="closeKorea" class="popClose mouse-over-cursor">
								<img class="imgCloseGray" src="{% static 'img/common/close.png' %}" width="10px" height="10px"/>
							</a>
							<div class="popMap">국내맵팝업
							</div>
						</div>
					</div>
				</div>
				<div class="container-child-color my-float-left korea-map">
					<div id="koreaMap"></div>
				</div>
			</div>
			<div class="mapRight">
				<ul class="mapRightWrap">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
        </div>
    </div>
	<div class="container-color container-bot my-border">
		<div class="carousel">
			<div class="carousel-inner">
				<div class="item active" id="mySlide">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">
							<div class="conBotTop">
								Asset Total Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">330</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowTop.png' %}">
								</div>
								<p class="botConNum my-float-left">5</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Windows OS Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">200</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowTop.png' %}">
								</div>
								<p class="botConNum my-float-left">9</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Linux OS Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">150</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">3</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Mac OS Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">400</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">3</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Established Port
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">40</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">1</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Listen Port Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">402</p>
								<div class="my-float-left conBotImg">
									-
								</div>
								<p class="botConNum0 my-float-left">0</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								--- Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">40</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">1</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content2 my-border">
							<div class="conBotTop">
								--- Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">40</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">1</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 2</div>
					</div>
				</div>
				<div class="item">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 3</div>
					</div>
					<div class="item">
						<div class="conBotWrap">
							<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 4
							</div>
						</div>
					</div>
					<div class="item">
						<div class="conBotWrap">
							<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 5
							</div>
						</div>
					</div>
					<div class="item">
						<div class="conBotWrap">
							<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 6
							</div>
						</div>
					</div>
					<div class="item">
						<div class="conBotWrap">
							<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 7
							</div>
						</div>
					</div>
					<div class="item">
						<div class="conBotWrap">
							<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 8
							</div>
						</div>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="conBotPrev carousel-control left" href="#myCarousel" data-slide="prev">
					<i class="fa fa-chevron-left"></i>
				</a>
				<a class="conBotNext carousel-control right" href="#myCarousel" data-slide="next">
					<i class="fa fa-chevron-right"></i>
				</a>
			</div>
		</div>











	<!--<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
		<div class="carousel-inner">
				<div class="item active">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">
							<div class="conBotTop">
								Asset Total Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">330</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowTop.png' %}">
								</div>
								<p class="botConNum my-float-left">5</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Windows OS Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">200</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowTop.png' %}">
								</div>
								<p class="botConNum my-float-left">9</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Linux OS Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">150</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">3</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Mac OS Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">400</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">3</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Established Port
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">40</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">1</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								Listen Port Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">402</p>
								<div class="my-float-left conBotImg">
									-
								</div>
								<p class="botConNum0 my-float-left">0</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content my-border">
							<div class="conBotTop">
								-&#45;&#45; Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">40</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">1</p>
							</div>
						</div>
						<div class="my-float-left container-bot-content2 my-border">
							<div class="conBotTop">
								-&#45;&#45; Count
							</div>
							<div class="conBotBot">
								<p class="botConTotalNum">40</p>
								<div class="my-float-left conBotImg">
									<img src="{% static 'img/common/arrowBot.png' %}">
								</div>
								<p class="botConNum my-float-left">1</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 2</div>
					</div>
				</div>
				<div class="item">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 3</div>
				</div>
				<div class="item">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 4</div>
					</div>
				</div>
				<div class="item">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 5</div>
					</div>
				</div>
				<div class="item">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 6</div>
					</div>
				</div>
				<div class="item">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 7</div>
					</div>
				</div>
				<div class="item">
					<div class="conBotWrap">
						<div class="my-float-left container-bot-content container-bot-content3 my-border">Slides 8</div>
					</div>
				</div>
			</div>
		&lt;!&ndash; Carousel controls &ndash;&gt;
		<a class="conBotPrev carousel-control left" href="#myCarousel" data-slide="prev">
			<i class="fa fa-chevron-left"></i>
		</a>
		<a class="conBotNext carousel-control right" href="#myCarousel" data-slide="next">
			<i class="fa fa-chevron-right"></i>
		</a>
	</div>
</div>-->
	</div>
{% endblock %}