{% extends 'base.html' %}
{% block content %}
<div class="my-3 container-frame">
    <div class="container-color container-top">
        <div class="container-section-color container-left my-float-left">
            <div class="container-child-color container-left-child-no-margin my-border">
            </div>
            <div class="container-child-color container-left-child my-border">
            </div>
            <div class="container-child-color container-left-child my-border">
            </div>
            <div class="container-child-color container-left-child my-border">
            </div>
        </div>
        <div class="container-child-color container-center my-float-left my-border">
            <div class="container-child-color container-center-top">
                <div id="worldMap"></div>
            </div>
        </div>
        <div class="container-section-color container-right my-float-left">
            <div class="container-child-color container-right-top my-border">
                <div id="barChart"></div>
            </div>
            <div class="container-child-color container-right-mid my-border">
                <div id="lineChart"></div>
            </div>
            <div class="container-child-color container-right-bot my-border">
                <div id="pieChart"></div>
            </div>
        </div>
    </div>
    <div class="container-color container-bot my-border">
        <button class="container-bot-side my-float-left my-border"></button>
        <div class="my-float-left container-bot-content my-border"></div>
        <div class="my-float-left container-bot-content my-border"></div>
        <div class="my-float-left container-bot-content my-border"></div>
        <div class="my-float-left container-bot-content my-border"></div>
        <div class="my-float-left container-bot-content my-border"></div>
        <div class="my-float-left container-bot-content my-border"></div>
        <div class="my-float-left container-bot-content my-border"></div>
        <div class="my-float-left container-bot-content2 my-border"></div>
        <button class="container-bot-side my-float-left my-border"></button>
    </div>
</div>
{% endblock %}