{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-frame container-color">
    <div class="container-color container-mid">
        <div class="container-section-color container-left my-float-left">
            <div class="container-child-color container-left-top my-border">
                <div class="content-title">
                    <a class="my-float-left"><img src="{% static 'img/dashboard/barchart.png' %}"/></a>
                    <div class="conText">Asset Count By Item</div>
                </div>
                <div id="barChart"></div>
            </div>
            <div class="container-child-color container-left-bot my-border">
                <div class="content-title">
					<a class="my-float-left"><img src="{% static 'img/dashboard/linechart.png' %}"/></a>
                    <div class="conText">Asset By Day Item Count</div>
                </div>
				<div id="lineLegend"></div>
				<div id="lineChart"></div>
            </div>
			<div class="container-child-color container-left-top my-border my-margin-top">
                <div class="content-title">
					<a class="my-float-left"><img src="{% static 'img/dashboard/pie.png' %}"/></a>
					<div class="conText">OS Count By Item(Top3)</div>
				</div>
				<div id="pieChart"></div>
            </div>
        </div>
        <div class="container-child-color container-center my-float-left my-border">
			<div class="mapLeft">
				<div class="mapChartMenuWorld">
					<div class="mapChartMenuWrap">
						<button type="button" class="btn btn-secondary btnWorld">World</button>
						<button type="button" class="btn btn-secondary btnKorea">Korea</button>
						<a class="expansionWrap mouse-over-cursor" id="popBtWorld">
							<img class="expansion" src="{% static 'img/dashboard/expansion.png' %}" />
						</a>
						<div class="shadow"></div>
						<div id="popWorld" style="display: none;">
							<a id="closeWorld" class="popClose mouse-over-cursor">
								<img class="imgCloseGray" src="{% static 'img/common/close.png' %}" width="10px" height="10px">
							</a>
							<div class="popMap"><div id="worldPopMap"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="container-child-color my-float-left world-map">
					<div id="worldMap"></div>
				</div>
				<div class="mapChartMenuKorea">
					<div class="mapChartMenuWrap">
						<button type="button" class="btn btn-secondary btnWorld">World</button>
						<button type="button" class="btn btn-secondary btnKorea">Korea</button>
						<a class="expansionWrap mouse-over-cursor" id="popBtKorea">
							<img class="expansion" src="{% static 'img/dashboard/expansion.png' %}" />
						</a>
						<div class="shadow"></div>
						<div id="popKorea" style="display: none;">
							<a id="closeKorea" class="popClose mouse-over-cursor">
								<img class="imgCloseGray" src="{% static 'img/common/close.png' %}" width="10px" height="10px"/>
							</a>
							<div class="popMap"><div id="koreaPopMap"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="container-child-color my-float-left korea-map">
					<div id="koreaMap"></div>
				</div>
			</div>
			<div class="mapRight">
				<ul class="mapRightWrap">
					<li>
						<div class="mapGps">
							<img src="{% static 'img/dashboard/gps.png' %}" />
						</div>
						<div class="mapCont">
							<div class="my-margin-bot-4">Alarm Title</div>
							<div>Asset ID : 5455454563</div>
						</div>
					</li>
					<li>
						<div class="mapGps">
							<img src="{% static 'img/dashboard/gps.png' %}" />
						</div>
						<div class="mapCont">
							<div class="my-margin-bot-4">Alarm Title</div>
							<div>Asset ID : 5455454563</div>
						</div>
					</li>
					<li>
						<div class="mapGps">
							<img src="{% static 'img/dashboard/gps.png' %}" />
						</div>
						<div class="mapCont">
							<div class="my-margin-bot-4">Alarm Title</div>
							<div>Asset ID : 5455454563</div>
						</div>
					</li>
					<li>
						<div class="mapGps">
							<img src="{% static 'img/dashboard/gps.png' %}" />
						</div>
						<div class="mapCont">
							<div class="my-margin-bot-4">Alarm Title</div>
							<div>Asset ID : 5455454563</div>
						</div>
					</li>
					<li>
						<div class="mapGps">
							<img src="{% static 'img/dashboard/gps.png' %}" />
						</div>
						<div class="mapCont">
							<div class="my-margin-bot-4">Alarm Title</div>
							<div>Asset ID : 5455454563</div>
						</div>
					</li>
					<li>
						<div class="mapGps">
							<img src="{% static 'img/dashboard/gps.png' %}" />
						</div>
						<div class="mapCont">
							<div class="my-margin-bot-4">Alarm Title</div>
							<div>Asset ID : 5455454563</div>
						</div>
					</li>
					<li>
						<div class="mapGps">
							<img src="{% static 'img/dashboard/gps.png' %}" />
						</div>
						<div class="mapCont">
							<div class="my-margin-bot-4">Alarm Title</div>
							<div>Asset ID : 5455454563</div>
						</div>
					</li>
				</ul>
			</div>
        </div>
    </div>
	<div class="container-color container-bot my-border">
		<div class="als-container" id="demo2">
			<span class="als-prev"><img src="{% static 'img/dashboard/arrowPrev.png' %}" /></span>
			<div class="als-viewport">
				<ul class="als-wrapper">
					<li class="als-item my-border">
						<div class="conBotTop">
							Asset Total Count
						</div>
						<div class="conBotBot">
							<p class="botConTotalNum">330</p>
							<div class="my-float-left conBotImg">
								<img src="{% static 'img/common/arrowTop.png' %}">
							</div>
							<p class="botConNum my-float-left">5</p>
						</div>
					</li>
					<li class="als-item my-border">
						<div class="conBotTop">
							Windows OS Count
						</div>
						<div class="conBotBot">
							<p class="botConTotalNum">200</p>
							<div class="my-float-left conBotImg">
								<img src="{% static 'img/common/arrowTop.png' %}">
							</div>
							<p class="botConNum my-float-left">9</p>
						</div>
					</li>
					<li class="als-item my-border">
						<div class="conBotTop">
							Linux OS Count
						</div>
						<div class="conBotBot">
							<p class="botConTotalNum">150</p>
							<div class="my-float-left conBotImg">
								<img src="{% static 'img/common/arrowBot.png' %}">
							</div>
							<p class="botConNum my-float-left">3</p>
						</div>
					</li>
					<li class="als-item my-border">
						<div class="conBotTop">
							Mac OS Count
						</div>
						<div class="conBotBot">
							<p class="botConTotalNum">400</p>
							<div class="my-float-left conBotImg">
								<img src="{% static 'img/common/arrowBot.png' %}">
							</div>
							<p class="botConNum my-float-left">3</p>
						</div>
					</li>
					<li class="als-item my-border">
						<div class="conBotTop">
							Established Port
						</div>
						<div class="conBotBot">
							<p class="botConTotalNum">40</p>
							<div class="my-float-left conBotImg">
								<img src="{% static 'img/common/arrowBot.png' %}">
							</div>
							<p class="botConNum my-float-left">1</p>
						</div>
					</li>
					<li class="als-item my-border">
						<div class="conBotTop">
							Listen Port Count
						</div>
						<div class="conBotBot">
							<p class="botConTotalNum">402</p>
							<div class="my-float-left my-margin-left-2 my-margin-right-2 my-margin-top-2">
								-
							</div>
							<p class="botConNum0 my-float-left">0</p>
						</div>
					</li>
					<li class="als-item my-border">
						<div class="conBotTop">
							-&#45;&#45; Count
						</div>
						<div class="conBotBot">
							<p class="botConTotalNum">40</p>
							<div class="my-float-left conBotImg">
								<img src="{% static 'img/common/arrowBot.png' %}">
							</div>
							<p class="botConNum my-float-left">1</p>
						</div>
					</li>
					<li class="als-item my-border">
						<div class="conBotTop">
							-&#45;&#45; Count
						</div>
						<div class="conBotBot">
							<p class="botConTotalNum">40</p>
							<div class="my-float-left conBotImg">
								<img src="{% static 'img/common/arrowBot.png' %}">
							</div>
							<p class="botConNum my-float-left">1</p>
						</div>
					</li>
					<li class="als-item my-border"></li>
				</ul>
			</div>
			<span class="als-next"><img src="{% static 'img/dashboard/arrowNext.png' %}" /></span>
		</div>
	</div>
</div>
    <!-- Dashboard Chart Start -->
<!--    <script src="{% static 'js/chart/gaugeChart.js' %}"></script>-->
    <script src="{% static 'js/chart/barchart.js' %}"></script>
    <script src="{% static 'js/chart/linechart.js' %}"></script>
    <script src="{% static 'js/chart/piechart.js' %}"></script>
    <script src="{% static 'js/chart/mapchart.js' %}"></script>
	<script type="text/javascript">

		var barChartData = [
			{name: 'Server', value: 100},
            {name: 'Desktop', value: 290},
            {name: 'Notebook', value: 320},
            {name: 'Monitor', value: 250},
            {name: 'Printer', value: 230},
            {name: 'Mobile', value: 150}
			];

		var lineChartData = [{
			name: "Desktop",
			values: [{
				date: "2021-10-01",
				price: "0"
			  },
			  {
				date: "2021-10-02",
				price: "400"
			  },
			  {
				date: "2021-10-03",
				price: "1000"
			  },
			  {
				date: "2021-10-04",
				price: "700"
			  },
			  {
				date: "2021-10-05",
				price: "550"
			  }
			]
		  },
		  {
			name: "Notebook",
			values: [{
				date: "2021-10-01",
				price: "400"
			  },
			  {
				date: "2021-10-02",
				price: "1000"
			  },
			  {
				date: "2021-10-03",
				price: "300"
			  },
			  {
				date: "2021-10-04",
				price: "1000"
			  },
			  {
				date: "2021-10-05",
				price: "900"
			  }
			]
		  },
		  {
			name: "Rack Mount Chassis",
			values: [{
				date: "2021-10-01",
				price: "300"
			  },
			  {
				date: "2021-10-02",
				price: "200"
			  },
			  {
				date: "2021-10-03",
				price: "100"
			  },
			  {
				date: "2021-10-04",
				price: "200"
			  },
			  {
				date: "2021-10-05",
				price: "1000"
			  }
			]
		  },


		];
		var pieChartData = [
		  {name: 'Mac', value: 44654},
		  {name: 'Windows', value: 54654},
		  {name: 'Linux', value: 50654}
		];
			barChart(barChartData);
			center();
			lineChart(lineChartData);
			piechart(pieChartData);
	</script>
    <!-- Dashboard Chart End -->
    <!-- navbar alert -->
    <script src="{% static 'js/common/nav.js' %}"></script>
    <!-- dashboard jquery -->
    <script src="{% static 'js/common/dashboard.js' %}"></script>
{% endblock %}