.footer-frame {
    width: 100%;
    min-height: 52px;
    margin: 0 auto;
}

.footerWrap div{
    font-size: 11px;
    margin-left: 6%;
}

.footTop{
    margin-top: 0.5%;
}

.footBot{
    margin-top: 0.5%;
}