.navWrap{
    width: 100%;
    height: 52px;
    margin: 0 auto;
}

.navTxt {
    float:left;
}

.navMenuWrap{
    width:100%;
}

.navUser{
    min-width: 25%;
}

.navUserInfo{

    width: 100%;
    height: 38px;
    margin-top: 10px;
    float: left;
}

.navUserName{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 11px;
    float: left;
}

.navUserName:hover{
    color: #000;
}

.navCop{
    line-height: 21px;
}

.navRight{
    min-width: 100%;
    height: 52px;
    float: right;
}

.navLogout{
    margin-top: 8px;
    height: 33px;
}

.navLanguage{
    display:block;
    font-family: Georgia, "Malgun Gothic";
    font-size: 10px;
    height: 25px;
    float: left;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 38%;
    background: url('../../img/common/language.png') calc(100% - 5px) center no-repeat;
    background-size: 10px;
    padding: 5px 30px 5px 10px;
    border-radius: 0px;
    outline: 0 none;
    margin-top: 3px;
}

.navLanguage option {
    background: black;
    color: #fff;
    padding: 3px 0;
}

.navLanguage::-ms-expand {
    display:none;
}

.navUserTime{
    width:50%;
    font-size: 12px;
    float: left;
    margin-left: 180px;
    margin-right: 10px;
    margin-top: 3px;
    line-height: 32px;
    text-align: center;
}
.userInfo{
    float: right;
    display: block;
    width: 6%;
}
.navUserImg{
    margin-top: 7px;
    display: block;
    float: left;
    color: #858796;
}

.navbar-brand{
    height: 36px;
}

.navbar-brand div {
    width: 135px;
    height: 26px;
}

.navbar-brand div.img {
    width: 135px;
    height: 26px;
}

.logoutWrap{
    text-decoration: none;
    color: #858796;
}

.logoutWrap:hover{
    text-decoration: none;
    color: #000;
}

.userInfoOpen {
    display: none;
    float:right;
    position: absolute;
    width: 300px;
    min-height: 200px;
    top: 50px;
    right: 1%;
    background-color: #fff;
    border: 1px solid #e3e6f0;
    color: blue;
    z-index: 999;
    color: #858796;
    box-shadow: -5px 5px 10px -5px gray;
}

.userInfoTop{
    width: 100%;
    height: 98px;
    border-bottom: 1px solid #e3e6f0;
}

.userInfoTopLeft{
    width: 38%;
    height: 70px;
    margin-top: 14px;
    margin-left: 10%;
    float: left;
}

.userInfoTopRight{
    font-size: 12px;
    width: 50%;
    height: 48px;
    float: left;
    margin-top: 24px;
    line-height: 24px;
}

.userInfoTopRight p:nth-child(1){
    font-weight: bold;
}

.userInfoTopRight p:nth-child(2){
    line-height: 175%;
}

.userInfoMid{
    width: 100%;
    min-height: 27px;
    border-bottom: 1px solid #e3e6f0;
}

.userInfoMidT{
    margin-left: 10%;
    font-size: 12px;
    margin-top: 5%;
}

.userInfoMidB{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 12px;
    margin-bottom: 5%;
}

.userInfoBot{
    width: 100%;
    min-height: 50px;
    padding-top: 17px;
}

.userInfoBot a{
    font-size: 12px;
    margin-left: 10%;
}

.userInfoBot a:nth-child(2){
    line-height: 300%;
}

.userInfoClose{
    width: 30px;
    height: 36px;
    position: absolute;
    right: 0;
    padding: 10px;
}

