{% extends "base.html" %}
{% block content %}

<div class="password-form">
  <form method="post">
    {% csrf_token %}
    {% include "form_errors.html" %}
    {% if user.is_authenticated %}
    <input type="hidden" name="next" value="{{ next }}">

    <h2 class="text-center">My User Setting</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="userId" id="userId" placeholder="{{ user.username }}" autocomplete="off" readonly>
      <label for="userId"></label>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="userEmail" id="userEmail" placeholder="{{ user.email }}" autocomplete="off" readonly>
      <label for="userEmail"></label>
    </div>
    <div class="form-group">
      <label for="id_old_password">기존 비밀번호:</label>
      <input type="password" class="form-control" name="old_password" id="id_old_password" placeholder="Current Password" autocomplete="off" required>
      <p>· 다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</p>
      <p>· 비밀번호는 최소 8자 이상이어야 합니다.</p>
      <p>· 통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</p>
      <p>· 숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</p>
    </div>
    <div class="form-group">
      <label for="id_new_password1">새 비밀번호:</label>
      <input type="password" class="form-control" name="new_password1" id="id_new_password1" placeholder="New Password" autocomplete="off" required>
    </div>
    <div class="form-group">
      <label for="id_new_password2">새 비밀번호 (확인):</label>
      <input type="password" class="form-control" name="new_password2" id="id_new_password2" placeholder="Confirm New Password" autocomplete="off" required>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-secondary btn-block">Save changes</button>
    </div>
    {% endif %}
  </form>
</div>
{% endblock %}