<!DOCTYPE html>
{% load static %}
<html lang="utf-8">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="iaido">
    <title>Xion Solution</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/bootstrap/bootstrap-3.3.7.css' %}">
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/font/fontawesomeFreeAllMin.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/common/sbAdmin/sbAdmin2.min.css' %}" rel="stylesheet">
    <!-- xion CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/commonStyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/user/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/footer.css' %}">

    <script src="{% static 'js/common/jquery/jquery-3.6.0.min.js' %}"></script>
    <!-- Core plugin JavaScript 3-->
    <script src="{% static 'js/common/jquery/jquery.easing.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/common/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/common/bootstrap/bootstrap.min.js' %}"></script>
    <!-- Bootstrap core JavaScript 2 -->
    <script src="{% static 'js/common/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!-- Custom scripts for all pages 4-->
    <script src="{% static 'js/common/sbAdmin2.min.js' %}"></script>
    <!-- d3 js -->
    <!--<script type="text/javascript" src="{% static 'js/common/d3/d3.v4.min.js"></script>-->

    <!--korea chart (d3 낮은버전)-->
    <script type="text/javascript" src="{% static 'js/common/d3/d3.v3.min.js' %}"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>

<!--    <script type="text/javascript" src="{% static 'js/common/d3/d3-7.4.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common/d3/d3-7.4.4.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/common/topojson.v1.min.js' %}"></script>



</head>
<body>
    {% if request.get_full_path == '/' or request.get_full_path == '/signup/' %}
    {% else %}
        {% include "navbar.html" %}
    {% endif %}
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
    <!-- 푸터 -->
    {% if request.get_full_path == '/' or request.get_full_path == '/signup/' %}
    {% else %}
        {% include "footer.html" %}
    {% endif %}
    <!-- 푸터 End -->
    <!-- Dashboard Chart Start -->
<!--    <script src="{% static 'js/chart/gaugeChart.js' %}"></script>-->
    <script src="{% static 'js/chart/mapchart.js' %}"></script>
    <script src="{% static 'js/chart/barchart.js' %}"></script>
    <script src="{% static 'js/chart/piechart.js' %}"></script>
    <script src="{% static 'js/chart/linechart.js' %}"></script>
    <script src="{% static 'js/chart/koreaMapChart.js' %}"></script>
    <!-- Dashboard Chart End -->
    <!-- navbar alert -->
    <script src="{% static 'js/common/nav.js' %}"></script>
    <!-- dashboard jquery -->
    <script src="{% static 'js/common/dashboard.js' %}"></script>
</body>
</html>