<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="/dashboard/">Xion</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        {% if menuList %}
        <ul class="navbar-nav">
            {% for menu in menuList %}
                {% if menu.menuUse == '1' %}
                    <li class="nav-item ">
                        <a  class="nav-link" style="font-weight : bold" href="/{{menu.menuUrl}}/">
                            {{ menu.menuName }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <li class="nav-item ">메뉴가 없습니다.</li>
        {% endif %}
    </div>
    <div class="my-float-right">
        <ul>
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'web:logout' %}">{{ user.username }} (로그아웃)</a>
                {% else %}
                <a class="nav-link" href="{% url 'web:login' %}">로그인</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>