.container-frame {
    width: 100%;
    background-color: #f8f9fc;
    min-height: 837px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-color {
    background-color: #f8f9fc;
}

.container-child-color {
    background-color: #ffffff;
}

.content-title {
    width: 100%;
    min-height: 25px;
    padding:10px;
    font-size:12px;
}

.mapChartTitle {
    width: 30%;
    min-height: 25px;
    padding:10px;
    font-size:12px;
    float: left;
}

.mapChartMenu{
    display: inline-block;
    width: 54%;
    min-height: 25px;
    padding:10px;
}

.mapChartMenuWrap{
    float: right;
}

.mapChartMenuWrap a{
    text-decoration: none;
}

.expansionWrap{
    position: relative;
}

.expansion{
    margin-left: 2px;
}

.expansionDark{
    position: absolute;
    margin-left: 2px;
    margin-top: 8px;
    top: 0px;
    left: 0px;
    display: none;
}

.expansionWrap:hover .expansionDark{
    display: block;
}

.container-top{
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.container-top-child {
    width: 98%;
    min-height: 200px;
    background-color: #ffffff;
    margin: 0 auto;
}
.gaugeWrap {
    width:100%;
    float:left;
}
.gaugeWrap>li{
    display:block;
    width:16.66%;
    float:left;
}
.container-mid{
    width: 100%;
    min-height: 680px;
    margin-bottom: 20px;
}

.container-center {
    width: 72%;
    min-height: 680px;

}

.container-left {
    width: 25%;
    min-height: 513px;
    margin-left: 1%;
    margin-right: 1%;
}

.container-left-top{
    width: 100%;
    min-height: 213px;
}

.container-left-bot{
    width: 100%;
    min-height: 214px;
    margin-top: 20px;
}

.container-bot {
    width: 98%;
    height: 138px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 21px;
}

.container-bot-wrapper{
    width: 100%;
    margin: 0 auto;
}

.container-bot-content {
    width: 9.7%;
    height: 82px;
    margin-right: 2%;
    background-color: #ffffff;
    margin-top: 28px;
    line-height: 82px;
}

.container-bot-content2 {
    width: 9.7%;
    height: 82px;
    background-color: #ffffff;
    margin-top: 28px;
    line-height: 82px;
}

.container-bot-content3 {
    width: 9.7%;
    height: 82px;
    background-color: #ffffff;
    margin-top: 28px;
    margin-left: 4%;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}

.carousel .item {
    text-align: center;
	overflow: hidden;
    height: 160px;
}
.carousel .item .img-box {
	background: #fff;
	padding: 9px;
	box-shadow: 0 6px 20px -6px rgba(0,0,0,0.4);
}
.carousel .item img {
    margin: 0 auto;
}
.carousel .carousel-control {
	width: 68px;
	background: none;
}
.carousel .carousel-control i {
    font-size: 20px;
    top: 50%;
    display: inline-block;
    margin-top: -15px;
    z-index: 5;
    left: 0;
    right: 0;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.conBotPrev{
    margin-top: 55px;
}
.conBotNext{
    margin-top: 55px;
}

.container-bot-content {
    width: 9.7%;
    height: 82px;
    margin-right: 2%;
    background-color: #ffffff;
    margin-top: 28px;
}

.conBotWrap {
    width: 98%;
    height: 138px;
    margin: 0 auto;
}

